{{ input type="text" value=searchQuery  placeholder="Search for existing clients..."}} <br />

<ul class="autocomplete">
	{{#each client in filteredClients}}
		<li {{action 'selectClient' client}}>{{client.name}}</li>
	{{/each}}
</ul>



<br />
{{client-details client=currentClient}}