<div {{bind-attr class=":input-group :bootstrap-timepicker widthClass"}}>
	{{input type="text" classNames="form-control timepicker" disabled=disabled name=textFieldName}}
	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
</div>


