<div>
	{{#if current_client }}
		{{#link-to 'client' current_client}}Clients{{/link-to}}
	{{else}}
		{{#link-to 'clients'}}Clients{{/link-to}}
	{{/if}}
</div>

<div>
	Current Client: {{currentClientName}}
</div>

<div class="calendar">
	{{#each instructor in instructors}}
		{{ view calendar-instructor-week instructor=instructor}}
	{{/each}}
</div>

{{outlet}}

